*.deps
*.cache
*.o
m4
*.m4
AUTHORS
c2c_sqlite.db*
ChangeLog
compile
config.h*
config.log
config.status
configure
COPYING
depcomp
INSTALL
install-sh
ltmain.sh
Makefile
Makefile.in
missing
NEWS
README
stamp-h1
webrtc2sip