*.deps
*.cache
*.o
m4
*.m4
AUTHORS
c2c_sqlite.db*
ChangeLog
compile
config.*
!config.h
!config.xml
configure
COPYING
depcomp
INSTALL
install-sh
ltmain.sh
Makefile
Makefile.in
missing
NEWS
README
stamp-h1
webrtc2sip

build
.vscode/ipch
*.pro.user